<details is="animated-details">
    <summary>Details 1</summary>
    <div class="details_content">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Explicabo molestiae deleniti sapiente doloribus recusandae,
            error possimus repellendus nihil eum voluptatum neque, veritatis expedita, impedit provident necessitatibus? Ab rem at
            nihil.</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia libero ducimus quae facere quos nulla dolor fugit
            sit facilis a! Molestiae amet debitis sit officia sapiente veniam necessitatibus reprehenderit in.</p>
    </div>
</details>
<details is="animated-details">
    <summary>Details 2</summary>
    <div class="details_content">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Explicabo molestiae deleniti sapiente doloribus recusandae,
            error possimus repellendus nihil eum voluptatum neque, veritatis expedita, impedit provident necessitatibus? Ab rem at
            nihil.</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia libero ducimus quae facere quos nulla dolor fugit
            sit facilis a! Molestiae amet debitis sit officia sapiente veniam necessitatibus reprehenderit in.</p>
    </div>
</details>
<details is="animated-details">
    <summary>Details 3</summary>
    <div class="flow">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Corrupti dolore provident, aut dolorum voluptas dicta
            perferendis voluptate ipsa necessitatibus ea rerum porro nihil, incidunt sequi culpa, quia asperiores debitis est.</p>
        <ul>
            <li>Item1</li>
            <li>Item2</li>
            <li>Item3</li>
            <li>Item4</li>
            <li>Item5</li>
        </ul>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dicta maiores aspernatur eveniet nulla. Odio cupiditate
            quia, reprehenderit adipisci iure debitis doloremque praesentium asperiores laudantium dignissimos at eum est fugit
            culpa.</p>
    </div>
</details>