<div class="sr-only">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequuntur cumque aut voluptatibus tempora soluta iure autem
    blanditiis et. Illo voluptatum molestias quia quaerat saepe tempora iure eaque, architecto corporis ab.
</div>