<details is="animated-details">
    <summary>Summary</summary>
    <div class="details_content">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Explicabo molestiae deleniti sapiente doloribus recusandae,
            error possimus repellendus nihil eum voluptatum neque, veritatis expedita, impedit provident necessitatibus? Ab rem at
            nihil.</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia libero ducimus quae facere quos nulla dolor fugit
            sit facilis a! Molestiae amet debitis sit officia sapiente veniam necessitatibus reprehenderit in.</p>
    </div>
</details>