{% extends 'layouts/base.njk' %}
{% block content %}
    <main class="flow region wrapper">
        <section
            class="hero" style="--_bg-url:url({{ picture }})">
            {# <picture>
                                                                                                                                                                                                                                                                                        <img src="{{ picture }}" alt="Portrait de Prosper Mérimée"/>
                                                                                                                                                                                                                                                                                    </picture> #}
            <div class="hero_cartel">
                <span>Prosper</span>
                <span>Mérimée</span>
            </div>
            <div class="hero_cartel">
                1803 - 1870
            </div>
        </section>
        <h1>Biographie</h1>
        <article
            class="region" id="main">
            {# {% if headings.length %}
                                                    <nav class="toc">
                                                        <h3>Table des matières</h3>
                                                        <ol>
                                                            {% for link in headings %}
                                                                <li>
                                                                    <a href="#{{ link.slug }}">{{ link.text }}</a>
                                                                </li>
                                                            {% endfor %}
                                                        </ol>
                                                    </nav>
                                                {% endif %} #}
            <div class="content flow">
                {{ content | safe }}
            </div>
        </article>
    </main>
{% endblock %}