{% extends 'layouts/base.njk' %}
{% block content %}
    <main class="flow region wrapper" id="main">
        <h1>{{ title |title }}</h1>
        <article class="flow">
            <section>
                {{ description | safe }}
            </section>
            <section>
                {% for itm in list %}
                    <details-utils animate>
                        <details class="cahier">
                            <summary>{{ itm.title }}</summary>
                            <div class="details_content region flow">
                                {{ itm.description | safe }}
                                {% if itm.url %}
                                    <footer>
                                        <a href="{{ itm.url }}" target="_blank" class="btn">Commander</a>
                                    </footer>
                                {% endif %}
                            </div>
                        </details>
                    </details-utils>
                {% endfor %}
            </section>
        </article>
    </main>
{% endblock %}