{% extends 'layouts/base.njk' %}
{% block content %}
    <main class="flow region wrapper" id="main">
        <article class="region flow">
            <h1>La Société</h1>
            {{ description | safe }}
        </article>
        {% if news.length %}
            <article class="region flow">
                <h2>Actualités</h2>
                {# {{ news | dump }} #}
                <div class="news">
                    {% for item in news %}
                        <details-utils animate>
                            <details>
                                <summary>{{ item.title }}</summary>
                                <div class="details_content with-sidebar region">
                                    {% if (item.thumbnail) and (item.thumbnail.image) %}
                                        <picture>
                                            <img src="{{ item.thumbnail.image }}" alt="{{ item.thumbnail.alt }}"/>
                                        </picture>
                                    {% endif %}
                                    <div class="news_description">
                                        {{ item.description | safe }}
                                    </div>
                                </div>
                            </details>
                        </details-utils>
                    {% endfor %}
                </div>
            </article>
        {% endif %}
    </main>
{% endblock %}