<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8"/>
        <link rel="icon" type="image/svg+xml" href="/vite.svg"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <title>{{ title | capitalize }}</title>
    </head>
    <body>
        {% include 'components/symbols.njk' %}
        {% include 'components/header.njk' %}
        {% block content %}{% endblock %}
        {% include 'components/footer.njk' %}
        <script type="module" src="/assets/main.ts"></script>
    </body>
</html>