body {
	background-color: var(--clr-neutral-surface-app);
	color: var(--clr-neutral-text);
	font-family: var(--font-prose);
	font-size: var(--font-size-0);
}

section:not([class]) {
	inline-size: clamp(20rem, 60vw, 65ch);
	margin-inline: auto;
	padding-inline: var(--space--2);
}

section + section {
	margin-block-start: var(--space-3);
}

:focus-visible {
	outline-offset: 3px;
	transition: outline-offset 0.15s;
	outline: 2px solid var(--clr-accent-border-ui-hover);

	position: relative;
	z-index: 1;
}
