.footer {
	border-block-start: 1px solid var(--clr-neutral-border-subtle);
	background-color: var(--clr-neutral-surface-subtle);
	padding-block: var(--space--1);
	padding-inline: var(--space-0);
	& nav ul {
		display: flex;
		gap: var(--space-0);
		padding: 0;
		justify-content: flex-end;
	}
	& a {
		font-family: var(--font-prose);
		font-size: var(--font-size--1);
	}
}
