<footer class="footer">
    <nav aria-label="navigation secondaire">
        <ul role="list">
            <li>
                <a href="#">Adhérer à la société</a>
            </li>
            <li>
                <a href="#">Contact</a>
            </li>
        </ul>
    </nav>
</footer>