a {
	z-index: 1;
	&:not([class]) {
		padding-inline: var(--space--3);
		position: relative;
		font-family: var(--font-display);
		color: var(--clr-neutral-text-shade);
		text-decoration-color: var(--clr-accent-surface-solid);
		text-underline-offset: 2px;

		&:where(:hover, :focus-within) {
			color: var(--clr-accent-surface-solid);
			text-decoration-color: var(--clr-neutral-text);
			text-underline-offset: 3px;
		}
	}
}
