a {
	&:not([class]) {
		padding-inline: var(--space--3);
		position: relative;
		font-family: var(--font-display);
		color: var(--clr-neutral-text-shade);
		text-decoration: none;

		&::before {
			content: '';
			position: absolute;
			left: 50%;
			top: 50%;
			height: 1.2em;
			width: 100%;
			border-bottom: 1px solid var(--clr-accent-border-ui);
			transform: translate(-50%, -50%);
			z-index: -1;
			--clip-x: 100%;
			--clip-y: calc(100% - 1px);
			clip-path: polygon(
				0% var(--clip-y),
				100% var(--clip-y),
				100% 100%,
				0% 100%
			);
			transition: clip-path 0.3s;
		}

		&:where(:hover, :focus-within) {
			color: var(--clr-neutral-text);
			&::before {
				--clip-y: 0%;
				border: 1px solid var(--clr-accent-border-ui-hover);
				background-color: var(--clr-accent-surface-ui-hover);
			}
		}
	}
}
