<div class="wrapper ">
    <p class="item">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quaerat, fuga dignissimos sapiente, expedita
        nemo nisi quas, amet laboriosam magnam a totam. Atque perferendis quisquam vitae quaerat accusamus ab architecto
        obcaecati!</p>
    <p class="item">Earum, sint! Debitis nihil enim suscipit quas quam? Incidunt dicta atque, similique architecto error
        explicabo hic vitae debitis aut rem temporibus ducimus placeat non, ratione cupiditate? Modi ipsam omnis eius.</p>
    <p class="item" style="--wrapper-size:100%;">Possimus laudantium provident, quisquam exercitationem commodi magnam
        deserunt perferendis mollitia unde officiis dolor similique quasi iure. Est quo cupiditate laboriosam quia libero
        nostrum suscipit, impedit pariatur! Id deleniti in voluptates!</p>
    <p class="item">Rerum, pariatur porro mollitia libero facere nobis? Ducimus officia recusandae autem! Quidem et,
        quibusdam laudantium quisquam modi cum quos sequi molestiae similique temporibus ut libero nulla rem tenetur optio
        consequuntur.</p>
    <p class="item">Accusantium vel nihil iure! Labore nobis rem dignissimos necessitatibus magni voluptas atque eligendi
        aliquam placeat, voluptate provident suscipit minus hic saepe illo impedit amet eaque inventore ex fugit commodi! Non!</p>
</div>