<div class="with-sidebar">
    <picture>
        <img src="https://picsum.photos/300/200" alt="">
    </picture>
    <div class="item">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis illo doloribus temporibus nulla dolore,
        corporis earum libero unde modi blanditiis maxime animi iste recusandae et beatae ex cumque porro quam.</div>
</div>