<nav-tabs>
    <article data-label="Œuvres">
        <h3>premier</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequuntur accusantium explicabo, et dicta quo quos? Odit
            maiores quidem harum, itaque ipsam non saepe, suscipit adipisci tempora quas odio veritatis numquam?
        </p>
    </article>
    <article data-label="Études Critiques">
        <h3>deuxième</h3>
        <p>Culpa mollitia dignissimos eum in explicabo, iste aut voluptatum dolorum magnam! Alias debitis nulla est, culpa ipsum
            labore accusamus. Neque harum explicabo voluptate eligendi enim. Expedita provident ducimus nisi porro?</p>
    </article>
</nav-tabs>