<div class="region item">
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Odit explicabo porro dolorum voluptatum blanditiis laborum
        perspiciatis, culpa magnam id quo ab, obcaecati reprehenderit molestiae itaque quibusdam temporibus, ipsa ut doloribus.</p>
</div>