<form class="searchForm">
    <label for="">Rechercher :
    </label>
    <input type="search" name="" id="">
    <button class="btn" data-color="neutral" title="rechercher">
        <svg width="1em" height="1em" viewbox="0 0 15 15" fill="none" xmlns="http://www.w3.org/2000/svg">
            <use href="#glass-icon"/>
        </svg>
    </button>
</form>