.header {
	padding-block-start: var(--space-0);
	background-color: var(--clr-accent-surface-solid);
	/* background-color: var(--clr-neutral-surface-subtle); */
	/* border-block-end: 1px solid var(--clr-neutral-border-subtle); */
	color: var(--clr-neutral-text);
	justify-content: center;
	display: flex;
	flex-direction: column;
	gap: var(--space--3);
	& .h1 {
		padding-inline: var(--space-0);
		display: block;
		margin-inline: auto;
		color: inherit;
		text-align: center;
		text-decoration: none;
	}
	& span {
		display: none;
	}
}

@media screen AND (max-width: 600px) {
	.header {
		& svg {
			display: none;
		}
		& span {
			display: block;
		}
	}
}

sausage-links {
	display: flex;
	inline-size: 100%;
	align-items: center;
	--btn-width: var(--space-2);
	--btn-gap: var(--space-0);
	--_btns-size: calc(2 * (var(--btn-width) + 2 * var(--btn-gap)));
	& button {
		inline-size: var(--btn-width);
		block-size: var(--btn-width);
		margin-inline: var(--btn-gap);
		aspect-ratio: 1;
		border-radius: 50%;
		border: 0;
		background-color: transparent;
		color: inherit;
		transition: transform 0.2s ease-in;
		&:active {
			transform: scale(1.2);
		}
	}
	& button.next {
		order: 100;
	}
	& button:disabled {
		opacity: 0;
	}
}

.mainNav {
	display: flex;
	align-items: center;
	flex: 1;
	inline-size: calc(100% - var(--_btns-size, 0));
	& ul {
		display: inline-flex;
		align-items: center;
		gap: var(--space-1);
		block-size: 100%;
		margin-inline: auto;
		scroll-padding: var(--space--1);

		overflow-x: auto;
		scroll-snap-type: x mandatory;
		scroll-behavior: smooth;
		-webkit-overflow-scrolling: touch;

		&::-webkit-scrollbar {
			height: 1rem;
		}

		&::-webkit-scrollbar-track {
			border-radius: 10px;
		}

		&::-webkit-scrollbar-thumb {
			--_bg-color: var(--clr-accent-border-ui);
			--_padding: 30%;
			background: linear-gradient(
				to bottom,
				transparent var(--_padding),
				var(--_bg-color) var(--_padding),
				var(--_bg-color) calc(100% - var(--_padding)),
				transparent calc(100% - var(--_padding))
			);
		}

		/* Handle on hover */
		&::-webkit-scrollbar-thumb:hover {
			--_bg-color: var(--clr-accent-border-ui-hover);
		}
	}
	& li {
		padding-block: var(--space--2);
		position: relative;
		scroll-snap-align: center;
		scroll-snap-stop: always;
		padding-inline: var(--space--1);
	}
	& .mainNav_link {
		block-size: 100%;
		color: inherit;
		text-decoration: none;
		&:where(:hover, :focus-visible, [aria-current]) {
			/* color: var(--clr-neutral-text-shade); */
			&::after {
				content: '';
				position: absolute;
				left: 0;
				bottom: 0;
				width: 100%;
				background-color: var(--clr-neutral-text-shade);
				height: 3px;
				border-radius: 2px;
			}
		}
		&[aria-current]::after {
			background-color: currentColor;
		}
	}
}

@media (min-width: 30rem) {
	.mainNav_link {
		font-size: var(--font-size-1);
		text-transform: uppercase;
	}
}
