<header class="header">
    <h1>Société Mérimée</h1>
    <sausage-links>
        <button class="btn prev" data-color="neutral" hidden="hidden">
            <svg width="1em" height="1em" viewBox="0 0 15 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                <use href="#previous"/>
            </svg>
        </button>
        <button class="btn next" data-color="neutral" hidden="hidden">
            <svg width="1em" height="1em" viewBox="0 0 15 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                <use href="#next"/>
            </svg>
        </button>
        <nav class="mainNav">
            <ul role="list">
                <li>
                    <a href="#" class="mainNav_link">
                        Accueil</a>
                </li>
                <li>
                    <a href="#" class="mainNav_link">Biographie</a>
                </li>
                <li>
                    <a href="#" class="mainNav_link">Séminaires</a>
                </li>
                <li>
                    <a href="#" class="mainNav_link">Cahiers</a>
                </li>
                <li>
                    <a href="#" class="mainNav_link">Bibliographie</a>
                </li>
                <li>
                    <a href="#" class="mainNav_link">Adaptations</a>
                </li>
            </ul>
        </nav>
    </header>