<article class="card flow with-sidebar ">
    <picture>
        <img src="https://picsum.photos/300/200" alt="une fausse image">
    </picture>
    <div class="card_content flow">
        <h3>
            <a href="/articles/adaptations/17-04-2023-premier-article/">
                Premier article
            </a>
        </h3>
        <p>
            Lorem ipsum dolor sit amet, Prosper Mérimée adipiscing elit. Etiam cahiers consectetur est. Proin id nulla venenatis,
            hendrerit magna eu, tristique mi...
        </p>
        <a href="/articles/adaptations/17-04-2023-premier-article/">
            lire l'article
        </a>
    </div>
</article>