<footer class="footer">
    <nav aria-label="navigation secondaire">
        <ul role="list">
            <li>
                <a href="/bulletin-adhesion.pdf" download="adhesion.pdf">Adhérer à la société</a>
            </li>
            <li>
                <a href="mailto:antonia.fonyi@wanadoo.fr">Contact</a>
            </li>
        </ul>
    </nav>
</footer>