<button class="btn">
    Bouton
    <svg width="1em" height="1em" viewBox="0 0 15 15" fill="none" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
        <use href="#chevron-up-icon"/>
    </svg>
</button>